extends layout-ui

block content
  h1 List of user
  p.lead List of all user and infomation.
  hr
  .row
    .col-sm-12
      table.table.table-bordered.table-striped
        thead
          tr
            th(style='width:40px') Finger ID
            th(style='width:180px') Picture
            th(style='width:200px') Name
            th(style='width:180px') Gender
            th(style='width:180px') Email

        tbody
        - for (var i = 0; i < accts.length; i++)
          tr
            td= accts[i].fingerId
            td
              img(src=accts[i].profile.picture, width='100', height='100')
            td= accts[i].profile.name
            td= accts[i].profile.gender
            td= accts[i].email
            td
              button.btn.btn-danger(type='button') Delete

            
